.client {
  width: 90px;
  height: 46px;
  fill: #ffffff;
  stroke: green;
  stroke-width: 2;
}

.client:hover {
  stroke: #4f4f4f;
}

.cliente_label,
.client_data {
  font-family: 'Arial';
  fill: black;
}

.cliente_label {
  font-size: 24;
}

.client_data {
  font-size: 12px;
}
