.resource {
  width: 110px;
  height: 46px;
  fill: #ffffff;
  stroke: orange;
  stroke-width: 2;
}

.resource:hover {
  stroke: #4f4f4f;
}

.resource_label,
.resource_data {
  font-family: 'Arial';
  fill: black;
}

.cliente_label {
  font-size: 14px;
}

.resource_data {
  font-size: 12px;
}
