.service {
  width: 110px;
  height: 46px;
  fill: #f7cecd;
  stroke: rgb(174, 75, 75);
  stroke-width: 2;
}

.service:hover {
  stroke: #4f4f4f;
}

.service_label,
.service_data {
  font-family: 'Verdana';
  font-size: 1rem;
  fill: black;
}

.service_data {
  font-size: 0.62rem;
}
