.service {
  width: 110px;
  height: 46px;
  fill: #ffffff;
  stroke: blue;
  stroke-width: 2;
}

.service:hover {
  stroke: #4f4f4f;
}

.service_label,
.service_data {
  font-family: 'Arial';
  fill: black;
}

.cliente_label {
  font-size: 14px;
}

.service_data {
  font-size: 12px;
}

.service_show {
  font-size: 12px;
  fill: red;
}
